@font-face {
    font-family: 'nexalight';
    src: url('../fonts/fonts/nexa_light-webfont.woff2') format('woff2'),
         url('../fonts/fonts/nexa_light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'titiliumlight';
    src: url('../fonts/fonts/titillium-light-webfont.woff2') format('woff2'),
         url('../fonts/fonts/titillium-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'titiliumbold';
    src: url('../fonts/fonts/titillium-bold-webfont.woff2') format('woff2'),
         url('../fonts/fonts/titillium-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'titiliumregular';
    src: url('../fonts/fonts/titillium-regular-webfont.woff2') format('woff2'),
         url('../fonts/fonts/titillium-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'lemonbold';
    src: url('../fonts/fonts/lemonmilk-bold-webfont.woff2') format('woff2'),
         url('../fonts/fonts/lemonmilk-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'lemonmedium';
    src: url('../fonts/fonts/lemonmilk-medium-webfont.woff2') format('woff2'),
         url('../fonts/fonts/lemonmilk-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'visionbold';
    src: url('../fonts/fonts2/vision-bold-webfont.woff2') format('woff2'),
         url('../fonts/fonts2/vision-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'visionheavy';
    src: url('../fonts/fonts2/vision-heavy-webfont.woff2') format('woff2'),
         url('../fonts/fonts2/vision-heavy-webfont.woff') format('woff');
}
@font-face {
    font-family: 'visionblack';
    src: url('../fonts/fonts2/vision-black-webfont.woff2') format('woff2'),
         url('../fonts/fonts2/vision-black-webfont.woff') format('woff');
}
@font-face {
    font-family: 'vision';
    src: url('../fonts/fonts2/vision-webfont.woff2') format('woff2'),
         url('../fonts/fonts2/vision-webfont.woff') format('woff');
}
