.nav-link{
    font-family: nexalight;
}
.aboutme{
font-family: lemonmedium;
color: #ffff;
}

.aboutmedesc{
    font-family: nexalight;
    color: #ffff;
    font-size: 13pt;
}

.custombutton{
    font-family: titiliumlight;
    background-color:#F5B531;
    color: #f4fffb;       
    border-radius: 50px;
    border: none;
}

.custombutton:hover{
    background-color: #f3c976;
    color: #f4fffb;
}

hr.solid{
    width: 15vw;
    color: #f4fffb;
    border-width:5px ;
}
.padding{
    padding-top: 1rem;
}

div.row .container{
    max-width: 30vw;
    height: auto;
}
.logohero{
    width: 100vw;
    height: auto;
    z-index: -1;
  
}
.logo{
    max-width: 4vw;
    height: auto;
}

.social>i {
    padding: 1%;
    font-size: 15px;
    color:#ffff;
}

.social>i:hover {
    color: #F8B732;
    cursor: pointer
}

.customtext{
    font-family: titiliumlight;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    color: #F8B732;
  }
  
  a:active {
    text-decoration: none;
  }

body{
background-image:url('../images/bg.jpg');
background-size: cover;
overflow: auto;
position: absolute;
}

@media (min-width:600px){
    body{
        width: 100%;
        min-height: 100vh;
    }
   

}
    
